<h2>Matches</h2>

<div class='box'>
  <h3>Today's Horoscope</h3>
  <p><%= @current_user.astro.dailyfeed %></p>
</div>

<% @users.each do |user| %>
  <div class='box'>
    <h3><%= link_to(user.firstname, user_path(user)) %></h3>
    <%= image_tag(user.image, :class => "thumb") %>
  </div>
<% end %>

